[inventory]
#enable_plugins = host_list, script, auto, yaml, ini, toml, opennebula
enable_plugins = community.general.opennebula, yaml

[defaults]
inventory_plugins = ./plugins/inventory
vault_password_file=~/.ansible-vault/.vault-file

# Callbacks
callbacks_enabled = ansible.posix.profile_tasks
bin_ansible_callbacks=True

# Formatted error output instead of blocks
stdout_callback=debug
stderr_callback=debug

[ssh_connection]
pipelining = true
